@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Pacifico&family=Poppins:ital,wght@0,300;0,500;0,600;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.nav{
    /* background-color: #188958; */
}
.top_nav{
    @apply flex items-center justify-between pt-3 pb-3 lg:px-16 px-8
}
.top_nav .logo{
    @apply text-lg font-semibold flex items-center gap-2
}
.auth{
    @apply flex items-center gap-2 cursor-pointer
}
.bot_nav{
    @apply flex bg-transparent items-center gap-5 lg:px-16 px-8 py-1 font-medium
}
.bot_nav p{
    @apply cursor-pointer
}
.home_page{
    @apply w-full
}
.home_page_items{
    @apply px-8 lg:flex lg:items-center lg:px-16 lg:justify-between pb-10
}
.home_img{
    @apply lg:w-[30%] pt-3
}
.home_img img{
    @apply lg:w-[200%]
} 
.home_cont_main{
    @apply lg:text-5xl text-4xl text-left font-open-sans font-semibold py-3 leading-[3.5rem]
}
.home_cont_abt{
    @apply text-lg leading-[2rem] font-open-sans
}
.hreree{
    @apply font-normal font-open-sans
}
.auth_btn{
    @apply  items-center gap-6 pt-10
}
.auth_log_btn{
    @apply border-white cursor-pointer border w-fit text-center py-2 text-lg font-medium px-4
}
.auth_log_btn:hover{
    @apply bg-green-700 text-white border-none
}
/* Auth Screen */
.signup{
    @apply flex items-center justify-between mx-7 lg:mx-48 pb-1 lg:h-[75vh] h-[80vh]
}
.login{
    @apply w-full lg:h-[69vh] h-[80vh]
}
.sign_box{
    @apply w-full lg:w-fit -mt-14 lg:-mt-0
}
.auth_box{
    @apply w-full lg:w-fit mx-auto mt-4
}
/* .login_box{
    @apply w-full 
} */
.login_text{
    @apply  text-lg text-center ml-12  lg:ml-0 mt-9 lg:text-2xl font-semibold 
}
.auth_input{
    @apply block py-3 w-[70%] pl-[13%] lg:w-full lg:pl-0
}
.auth_input label{
    @apply block pb-2 text-left uppercase text-sm font-semibold
}
.auth_input input{
    @apply text-black border border-black outline-none py-2 px-3 w-[130%] text-sm
}
.sign_btn{
    @apply mt-8 mb-6 border text-white font-semibold transition ease-in-out delay-300 text-base w-[60%] lg:w-full text-center py-2 cursor-pointer lg:ml-8 ml-[20%] lg:mx-auto
}
.sign_btn:hover{
    @apply bg-green-800 text-white translate-x-1 scale-90 duration-300
}
.sign_option{
    @apply font-medium pl-16
}
.sign_option .span{
    @apply text-center italic cursor-pointer
}
.sign_benefits{
    @apply border-2 border-gray-400 px-7 pt-4 pb-14
}
.benefit_text{
    @apply text-2xl font-bold pb-4
}
.sign_benefits{
    @apply hidden lg:block
}
.sign_benefits li{
    @apply py-1 font-medium
}
/* BMI Calculator */
.bmi{
    @apply mx-auto max-w-2xl pt-8 pb-14 px-4 md:px-0
}
.bmi_head{
    @apply font-black text-2xl md:text-4xl mb-10
}
.bmi_input{
    @apply p-1.5 px-3.5 transition-colors rounded-md text-black border-black focus:outline-black focus:outline-none shadow-md
}
.bmi_input_btn{
    @apply px-3.5 py-1 transition-colors rounded-md border text-black border-black bg-white enabled:hover:border-black enabled:focus:border-black focus:outline-none shadow-md
}
.bmi_input_btn:hover{
    @apply bg-black text-white
}
.gen{
    @apply flex gap-2 cursor-pointer
}
.gen label{
    @apply text-lg font-medium
}
.result{
    @apply mt-20
}
.main_result{
    @apply text-3xl font-bold capitalize pb-5 sm:text-xl
}
.result_advise{
    @apply py-4
}
.advise_one{
    @apply font-medium text-lg
}
.advise_head{
    @apply text-xl font-bold pb-2
}
.w_his{
    @apply mb-4 text-[#888] font-normal
}
.w_head{
    @apply text-center -mt-12
}
.current{
    @apply flex flex-col justify-center items-center w-[200px] h-[200px] text-center bg-slate-800 rounded-full shadow-md border-4 border-[#188958] mx-auto mt-0 mb-[2rem]
}
.current span {
    @apply block text-[3rem] font-bold mb-[0.5rem] 
}
.current small {
    @apply text-white italic
}
.weight_form{
    @apply flex mb-[2rem] rounded-md overflow-hidden transition-all lg:w-[50%] justify-center mx-auto 
}
.weight_form .weight_form_num{
    @apply appearance-none outline-none border-none pl-2  bg-white py-[0.2rem] text-[1.25rem] w-[65%] text-black
}
.weight_form input[type="submit"]{
    @apply appearance-none outline-none cursor-pointer border-l border-[#188958] bg-[#188958] px-2 pr-4 py-[0.2rem] text-white w-[35%]
}
.weight_form input[type="submit"]:hover{
    @apply text-white bg-transparent border-white border
}
.canvas-box{
    @apply w-[100%] max-w-[720px] bg-[#f6fff6] mb-8 p-[1rem] rounded-[0.5rem] shadow-md
}
.weight_history{
    @apply mx-6
}
.weight_text{
    @apply text-xl font-semibold
}
.weight-history table{
    @apply list-none p-0 mt-5 
}
.gend{
    @apply flex flex-row gap-28
}
.select_exe{
    @apply flex flex-col gap-2
}
.sel_workout{
    @apply text-center font-semibold text-xl py-2
}
.select_exe select{
    @apply border-black border rounded-md px-1 w-[50%] capitalize mx-auto outline-none py-1
}
.select_exe option{
    @apply text-black border-y py-1 text-lg capitalize
}
.selected_exe{
    @apply text-2xl font-semibold py-2 capitalize text-center
}
.workout_content{
    @apply text-center 
}
.body_part{
    @apply leading-5
}
.workout_time{
    @apply border bg-[#44d194] w-[70%] mx-auto rounded-xl text-center py-4
}
.workout_time h1{
    @apply text-3xl font-bold text-white mb-4
}
.timer-time{
    @apply text-lg lg:text-5xl font-normal lg:font-semibold my-5 flex justify-center items-center gap-2 px-3 lg:px-[1.3rem]
}
.about_page{
    @apply w-[100%] lg:h-[100vh] bg-slate-800 -mt-[5.8rem] pt-[5.8rem] bg-fixed pb-10;
}
.abt_page{
    @apply flex flex-col lg:flex-row gap-10 lg:gap-24 w-[90%] mt-2 mx-auto border-black
}
.abt_img{
    @apply lg:w-[150%]
}

.about_head{
    @apply text-5xl font-semibold pb-5 text-center
}
.about_text{
    @apply text-[17px] font-normal text-center pb-3 leading-8
}
.abt_btn{
    @apply border text-black  border-white text-center text-lg py-1 font-medium
}
.abt_btn:hover{
    @apply bg-green-700 border-none
}
.feat_page{
    @apply py-5 w-[100vw] lg:h-[100vh] bg-slate-800 bg-fixed -mt-[5.8rem] pt-[5.8rem]
}
.feats{
    @apply py-5 flex lg:flex-row flex-col lg:w-full lg:mx-0  md:w-[50%] md:mx-auto  justify-between gap-10 px-10
}
.div_feat_img{
    @apply w-fit
}
.feat_img{
    @apply w-[600px] h-[240px]
}
.nav_link{
    @apply py-1 px-1
}
/* .nav_link:hover{
    @apply border-b-2 border-green-700
} */

.logo_img{
    @apply w-[25px]
}
.nxt_icon{
    @apply w-[40px] float-right mr-10 lg:mr-20 -mt-12 mb-10
}
.abt_bp{
    @apply mt-10
}
.abt_bp .top_bp{
    @apply pt-3  text-2xl capitalize
}
.bp_texts{
    @apply mt-9 leading-6
}
.bp_words{
    @apply mt-3 pb-2 leading-[1.6rem] justify-normal
}
.bp_p{
    @apply py-1 ml-5
}
.nems{
    @apply w-[100vw] min-h-fit text-white bg-slate-800 -mt-[5.8rem] pt-[5.8rem] pb-[4rem] bg-fixed
}